*{
    box-sizing: border-box;/*ajusta la caja calcula automaticamente el borde y el padiding*/
    padding: 0;
    margin: 0;
}/*Agregar siempre*/

main{
    width: 100%;
    height: 500px;
    border: 10px solid grey;
    padding: 20px 35px;
}