<!DOCTYPE html>
<html lang="es">
    <head>
        <meta charset="UTF-8">
        <meta name="viewport" content="width=device-width, initial-scale=1.0">
        <meta name="robots" content="index, follow">
        <meta name="description" content="Programador Whillder">
        <meta http-equiv="X-UA-Compatible" content="IE=edge">
        <title>Layout</title>
        <link rel="stylesheet" href="./style.css">
        <link rel="stylesheet" href="./tablet.css" media="screen and (min-width:700px)">
        <link rel="stylesheet" href="./desktop.css" media="screen and (min-width:1000px)">
        <link rel="preconnect" href="https://fonts.googleapis.com">
        <link rel="preconnect" href="https://fonts.gstatic.com" crossorigin>
        <link href="https://fonts.googleapis.com/css2?family=Indie+Flower&display=swap" rel="stylesheet">
    </head>
    <body class="container">
        <header class="head">
            <figure class="logo">
                <img src="./logo e img/img/code-solid.svg" alt="solid">
            </figure>
                      
            <nav class="nav">
            <ul>
                <li><a href="#">Inicio</a></li>
                <li><a href="#">Cursos</a></li>
                <li><a href="#">Certificados</a></li>
                <li><a href="#">Usuario</a></li>
            </ul>
            </nav> 
        </header>
        <main class="content">
            <aside class="aside">
                <h4>Cursos Platzi</h4>
                <figure class="aside_img">
                    <a href="https://platzi.com/blog/primera-pagina-web-2022/" target="_blank"><img src="./logo e img/html-1.svg" alt="html5" title="Curso HTML5"></a>
                    <a href="https://platzi.com/blog/primera-pagina-web-2022/" target="_blank"><img src="./logo e img/css-3.svg" alt="CSS3" title="Curso CSS3"></a>
                    <a href="https://platzi.com/cursos/prework-windows/" target="_blank"><img src="./logo e img/javascript-1.svg" alt="javascript" title="Curso JS"></a>
                    <a href="https://platzi.com/cursos/fundamentos-node/" target="_blank"><img src="./logo e img/nodejs-icon.svg" alt="nodejs" title="curso Node"></a>
                    <a href="https://platzi.com/cursos/bootstrap/" target="_blank"><img src="./logo e img/bootstrap-5-1.svg" alt="bootstrap" title="Curso bootstrap"></a>
                </figure>
            </aside>
            <section class="contenido">
                <h1 class="titulo">Front-end</h1>
                <figure class="cont_fig">
                    <img src="./logo e img/front.jpg" alt="front">
                </figure>
            </section>
        </main>
        <footer>
            <h6>Siguenos en:</h6>
            <figure class="foot_img">
                <a href="https://www.facebook.com/platzi" target="_blank"><img src="./logo e img/facebook-3.svg" alt="face" title="Facebook"/></a>
                <a href="https://www.instagram.com/platzi/" target="_blank"><img src="./logo e img/linkedin-icon-2.svg" alt="linkedin" title="Linkedin"/></a>
                <a href="#" target="_blank"><img src="./logo e img/whatsapp-icon.svg" alt="whatsapp" title="Whatsaap"/></a>
            </figure>
        </footer>

    </body>
</html>